/*eventos*/

.e-main
{
    display: flex;
    flex-direction: column;
}
.e-main__card__title
{
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 15px;
    color: #58391d;
}
.e-main__card-container
{
    position: relative;
    margin-left: 165px;
    margin-top: 35px;
    margin-bottom: 35px;  
}
.e-main__card-container--reverse
{
    position: relative;
    margin-left: 730px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.e-main__card-container__text
{
    position: absolute;
    left: 570px;
    top: 70px;
    padding: 20px;
    background-color: rgba(242, 225, 195, 0.8);
    width: 510px;
    height: 200px;
    font-weight: 400;
    border-radius: 3.5px; 
}
.e-main__card-container__text--reverse
{
    position: absolute;
    left: -470px;
    top: 70px;
    padding: 20px;
    background-color: rgba(242, 225, 195, 0.8);
    width: 510px;
    height: 200px;
    font-weight: 400;
    border-radius: 3.5px; 
}

/*mobile*/

@media screen AND (max-width: 480px) 
{
    .e-main
    {
        justify-content: center;
    }
    .e-main__card__image
    {
        width: 100%;
        margin-top: 15px;
    }
    .e-main__card-container
    {
        position: static;
        margin: 0 5px 30px 5px;
    }
    .e-main__card-container--reverse
    {
        position: static;
        margin: 0 5px 30px 5px;
        width: auto;
    }

    .e-main__card-container__text
    {
        position: static;
        margin: 0;
        width: auto;
        height: fit-content;
    }
    .e-main__card-container__text--reverse
    {
        position: static;
        margin: 0;
        width: auto;
        height: fit-content;
    }
    .e-main__card__text
    {
        font-size: 21px;
    }
}