@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import '../scss/colors';
@import '../scss/fonts';
@import '../scss/contato';
@import '../scss/eventos';


*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Poppins', sans-serif;
    background-color: $bg-light;
    font-size: map-get($font-size, medium);
    .nav-item :hover 
    {
        background-color: $bg-card;
    }
    .btn
    {
        border: 0.5px solid $border;
        background-color: $bg-medium;
        font-size: map-get($font-size, medium);
        letter-spacing: 0.18em;
    }
    .card-footer
    {
        background-color: $bg-medium;
        width: 100%;
    }
}

@media screen AND (min-width: 992px)
{
    .nav-link--border
    {
        border: $border 1px solid;
        border-radius: 3.5px; 
    }
}